
/***********************************/

.circulo {
    float: left;
    width: 100px;
    height: 60px;
    margin: auto;
    font-size: 3em; 
    border-radius: 50%;
    background-color:blueviolet;
    animation-name: animacionCirculo;
    animation-duration: 4s;
    font-family: "Stencil Std", cursive;
    padding-top: 15px;
    color:lightcyan;
}

@keyframes animacionCirculo {
    from {
        background-color: white;
        border-radius: 0%;
        font-size: 2em;
    }

    to {
        background-color: blueviolet;
        border-radius: 50%;
        font-size: 3em;
    }
}

/*************************************************/
.rectangulo {
    width: 80%;
    height: 60px;
    background-color: lightcyan;
    color:rgb(168, 113, 219);
    font-family: "Stencil Std", cursive;
    animation-name: animacionIngreso;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes animacionIngreso {
    from {
        font-size:0%;
        margin-left:100%;
    }

    25%{
        color:rgb(116, 37, 190);

    }

    50% {
        font-size:800%;
        margin-left:20%;
        color:rgb(83, 26, 136);

    }

    75%{
        color:rgb(77, 16, 82);

    }
    90%{
        color:rgb(212, 24, 103);

    }

    to {
        font-size:400%;
        margin-left: 30%;
        width:100%;
        color:rgb(248, 28, 28);
    }
}

/*********************************************/




.demo{
    position:relative;
    width:680px;
    margin: auto;

}
.juego  {
    list-style-type: none;
    float: left;
}

.juego {
    width:200px;
    padding:2em 1em 1em 1em;
    text-align: center;
    transition: all 3s ease;
}

.juego img {
    margin:auto;
    display:block;
    transform: scale(0.9);
    transition: all 2s ease;
}


.juego:hover {
    background-color: rgba(200,200,200,.5);
    border-radius: 10px;
    cursor: pointer;

}

.juego:hover img {
transform: scale(1);
}

.juego:hover h2 {
    color:#c9a833;
}

